/ktra.R
/constants.R
/ControlStructure.R
/Data.R
/func.R
/test.R
/DataSet/FIFA22_official_data_utf8.csv
/DataSet/FIFA22_official_data.csv
/DataSet/FIFA23_official_data.csv
/DataSet/OnlineRetail.csv
/DataSet/OnlineRetail.csv
/DataSet/FIFA23.csv
/.vscode